/* * {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
} */

nav {
  background-color: #2a3538;

  background-image: url("https://res.cloudinary.com/dgifdj6nx/image/upload/t_Banner 16:9/v1708110483/flier_mybveh.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #0b0c0b;
}
button a {
  color: rgb(13, 8, 1);
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #eaf5fd;
}

.New {
  /* border: 1px solid gold;
  margin: auto;
  width: 95%; */
}

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
